*.iws
*.iml
*.ipr
.idea/
.settings
devDB.log
devDB.properties
devDB.script
*Db.properties
*Db.script
eclipse
lib/postgresql-8.3-604.jdbc3.jar
stacktrace.log
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# Mac OSX ignores
.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
